/*
v2
Referência de Cores: https://www.google.com/design/spec/style/color.html#color-color-palette

    Orange    Indigo
400    #ff7043    #3f51b5
-------------------------   
50     #fff3e0    #e8eaf6
100    #ffe0b2    #c5cae9
200    #ffcc80    #9fa8da  (usar esse laranja)
300    #ffb74d    #7986cb  (usar esse laranja)
400    #ffa726    #5c6bc0  (usar esse indigo)
500    #ff9800    #3f51b5  (usar esse indigo)
600    #fb8c00    #3949ab
700    #f57c00    #303f9f
800    #ef6c00    #283593
900    #e65100    #1a237e
A100   #ffd180    #8c9eff
A200   #ffab40    #536dfe
A400   #ff9100    #3d5afe
A700   #ff6d00    #304ffe

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, main { 
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #FAFAFA;
  color: rgba(0, 0, 0, .87);
  font-size: 0.8em;
  min-width: 320px;
}

main {
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 40px;
}

@media only screen and (min-width : 900px) {
  .header {
    margin-bottom: -85px;
  }

  main {
    min-height: 450px;
  }
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 200px;
  padding: 1% 5%;
  background-color: #5c6bc0;
  z-index: 9999;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.header-logo {
  height: 100px;
}

.header-logo img {
  height: 70px;
  margin-top: 5px;
}

.header-logout {
  transition: color 0.2s;
  color: white;
  line-height: 80px;
  text-decoration: none;
  border-radius: 50%;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.header-logout i {
  padding-left: 5px;
  font-size: 24px;
}

.header-logout:hover, .header-logout:hover i {
  color: #ff9100;
}

section {
  display: none;
  padding: 115px 5% 0;
  position: absolute;
  top: -100%;
  left: 100%;
  transition: left 0.5s, opacity 0.75s;
  width: 100%;
}

#state-login {
  left: -100%;
}

@media only screen and (max-width : 899px) {
  .card {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width : 900px) {
  #state-dashboard {
    min-height: 500px;
  }
}

.login #state-login,
.dashboard #state-dashboard {
  left: 0;
  padding-bottom: 20px;
  top: 0;
  display: block;
}

@media only screen and (min-width : 900px) {
  main {  
    min-width: 800px;
  }
  
  .dashboard #state-dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

ul {
  list-style: none;
}

.login .header * {
  display: none;
}

.card-login {
  width: 25%;
  margin: 0 auto;
}

.login-logo {
  padding: 10px;
  width: 100%;
}

@media only screen and (max-width : 899px) {
  .card-login {
    width: 25%;
  }
}

@media only screen and (max-width : 1199px) {
  .card-login {
    width: 30%;
  }
}

.card {
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position: relative;
}

@media only screen and (max-width : 899px) {
  .card {
    width: 100%;
  }
}

.card-content {
  padding: 10px 16px;
}

.card-header {
  display: block;
  line-height: 85px;
  padding-left: 16px;
  font-size: 16px;
  background-color: #fb8c00;
  color: white;
}

.card-aacc-horas {
  display: flex;
  justify-content: space-between;
  line-height: 24px;
  width: 100%;
  color: rgba(0,0,0,.87);
}

.card-aacc-horas span {
  padding-bottom: -10px;
}

.card-aacc-barras {
  display: flex;
  position: relative;
}

.card-aacc-barras-realizada {
  height: 2px;
  background-color: #1a237e;
}

.card-aacc-barras-necessaria::before {
  display: inline-block;
  content: 'o.o';
  background-color: #1a237e;
  color: #1a237e;
  border-radius: 50%;
  font-size: 7px;
  transform: translate(-5.5px, -9.5px);
}

.card-aacc-barras-necessaria {
  height: 2px;
  background-color: rgba(0,0,0,.37);
}

.card-aacc tr *:first-child {
  text-align: left;
}

.card-aacc tr *:last-child {
  text-align: right;
}

@media only screen and (min-width : 900px) {
  .sidebar {
    width: 25%;
    padding-right: 20px;
  }

  .card-materias {
    width: 75%;
  }
  
  .card-aacc {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width : 1199px) {
  .card-header {
    font-size: 24px;
  }
}

.card-materias-materia {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 0 5px;
  border-bottom: 1px solid rgba(0, 0, 0, .37);
}

.card-materias-materia:last-child {
  border-bottom: none;  
}

.card-materias-materia-info {
  flex: 1 350px;
}

.card-materias-materia-info-professor {
  color: rgba(0, 0, 0, .37);
  font-size: 10px;
  padding-bottom: 5px;
}

.card-materias-materia-info-nome {
  color: rgba(0, 0, 0, .87);
  font-weight: 700;
  font-size: 12px;
}

.card-materias-materia-acompanhamento {
  display: flex;
  justify-content: space-between;
}

.card-materias-materia-acompanhamento div {
  line-height: 30px;
}

.card-materias-materia-acompanhamento div:nth-child(2n+1) {
  padding-left: 10px;
  padding-right: 6px;
  text-align: right;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 500;
}
.card-materias-materia-acompanhamento div:nth-child(2n) {
  width: 15px;
  font-size: 10px;
  text-align: left;
  padding-left: 2px;
}

@media only screen and (max-width : 899px) {
  .card .card-materias-materia-acompanhamento div {
    font-size: 12px;
    padding: 0;
  }
  
  .card-materias-materia-acompanhamento div:nth-child(2n) {
    width: 25px;
    padding-left: 5px;
  }
}

/**********
 * Botões *
 **********/
.button {
  background-color: #536dfe;
  text-transform: uppercase;
  border: medium none;
  color: #FFF;
  font-weight: 500;
  line-height: 20px;
  padding: 5px;
  text-decoration: none;
  overflow: hidden;
  margin: .5em 0;
}

.button.button-secondary {
  color: #536dfe;
  background-color: transparent;
  text-align: right;
  display: block;
}

.button.button-secondary:hover {
  color: #304ffe;
}

.button.button-fullwidth {
  width: 100%;
  display: block;
  text-align: center;
}

@media only screen and (min-width : 900px) {
  .button-floating {
    position: absolute;
    bottom: 10px;
  }

  .button-floating.button-fullwidth {
    width: calc(100% - 40px);
  }
}


/***********
 * Tabelas *
 ***********/
.table {
  margin: 10px 0;
  width: 100%;
  border-collapse: collapse;
}

.table td,
.table th {
  line-height: 36px;
  border-bottom: 1px solid rgba(0, 0, 0, .37);
}

.table th {
  color: rgba(0, 0, 0, .54);
  min-width: 60px;
}

.table td {
  color: rgba(0, 0, 0, .87);
  max-width: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width : 899px) {
  .button, .table thead td {
    font-size: 1.2em;
  }
}

/***************
 * Formulários *
 ***************/
.form-container {
  display: block;
  margin: 2.5em 0 1em;
}

.form-field {
  color: rgba(0, 0, 0, .54);
  width: 100%;
  padding: 2px 5px;
 border: none;
 border-bottom: 2px solid rgba(0, 0, 0, .2);
}

.form-field:focus { 
  border-bottom-color: rgba(0, 0, 255, .37);   
}

.form-field:invalid {
  box-shadow: none;
}

.form-field.invalid {
  border-bottom-color: rgba(255, 0, 0, .37);   
}

.form-placeholder {
  pointer-events: none;
  display: block;
  font-weight: bold;
  font-size: 0.9em;
  color: rgba(0, 0, 0, .54);
  padding-left: 0.5em;
  margin-top: -1.5em;
  margin-bottom: 1.5em;
  transition: 0.5s;
}

.form-field.invalid + .form-placeholder,
.form-field:valid + .form-placeholder,
.form-field:focus + .form-placeholder {
  transform: translate(-1.3em, -1.3em) scale(.9, .9);
}

.form-field.invalid,
.form-field.invalid + .form-placeholder {
  color: rgba(255, 0, 0, .87);
}

.form-field:focus,
.form-placeholder:focus {
  outline: 0;
}

/********
 * List *
 ********/

.list-single-item {
  line-height: 36px;
  height: 36px;
  display: flex;
  white-space: nowrap;
}

.list-single-item i {
  color: rgba(0, 0, 0, .65);
  font-size: 16px;
  line-height: 36px;
  width: 24px;
  margin-left: -8px;
}

.list-single-item a {
  color: rgba(0, 0, 0, .65);
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
}

.list-single-item:hover * {
  color: #ff6d00;
}

@media only screen and (max-width : 899px) {
  .list-single-item a {
    font-size: 18px;
  }
}